# Environment Variables
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
jspm_packages/
web_embedded/

# Python Virtual Environments & Caches
venv/
.venv/
env/
__pycache__/
*.pyc
.pytest_cache/

# Production build output
dist/
build/
.next/
out/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS settings
.vscode/
.idea/
.DS_Store
Thumbs.db
